<div class="table-cells">
    <div class="table-cell">
        <div class="icon-round">
            <img src="<%= service.picture %>">
        </div>
    </div>
    <div class="table-cell">
        <div class="text-gray">
            <%= service.text %>
        </div>
    </div>
</div>