@charset "UTF-8";
/**
 * Nestable
 */
/* line 6, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

/* line 16, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 17, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-list .dd-list {
  padding-left: 30px;
}

/* line 18, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-collapsed .dd-list {
  display: none;
}

/* line 20, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}

/* line 32, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-handle {
  display: block;
  margin: 5px 0;
  padding: 10px 10px;
  text-decoration: none;
  border: 1px solid #ebebeb;
  background: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 42, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-handle:hover {
  background: #fff;
}

/* line 44, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 30px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}

/* line 45, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

/* line 46, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-item > button[data-action="collapse"]:before {
  content: '-';
}

/* line 48, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 50, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

/* line 55, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

/* line 56, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}

/* line 57, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}

/**
 * Nestable Extras
 */
/* line 66, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.nestable-lists {
  display: block;
  clear: both;
  padding: 30px 0;
  width: 100%;
  border: 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

@media only screen and (min-width: 700px) {
  /* line 70, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
  .dd + .dd {
    margin-left: 2%;
  }
}
/* line 74, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-hover > .dd-handle {
  background: #2ea8e5 !important;
}

/**
 * Nestable Draggable Handles
 */
/* line 80, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd3-content {
  display: block;
  margin: 5px 0;
  padding: 10px 10px 10px 50px;
  text-decoration: none;
  border: 1px solid #ebebeb;
  background: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 88, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-dragel > .dd3-item > .dd3-content {
  margin: 0;
}

/* line 90, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd3-item > button {
  margin-left: 40px;
}

/* line 92, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd3-handle {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
  width: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #ebebeb;
  background: #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 107, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd3-handle:before {
  content: '≡';
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  text-align: center;
  text-indent: 0;
  color: #ccc;
  font-size: 20px;
  font-weight: normal;
}

/* line 108, /Users/olga/railsProject/insightfull.dev-3.com/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd3-handle:hover {
  background: #f7f7f7;
}
