@charset "UTF-8";
/**
 * jQuery Nestable
 */
/* line 6, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  /* max-width: 600px; */
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

/* line 17, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 24, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-list .dd-list {
  padding-left: 30px;
}

/* line 25, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-collapsed .dd-list {
  display: none;
}

/* line 27, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}

/* line 31, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-handle {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #fafafa;
  background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
  background: linear-gradient(top, #fafafa 0%, #eee 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 41, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-handle:hover {
  color: #2ea8e5;
  background: #fff;
}

/* line 43, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}

/* line 44, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

/* line 45, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-item > button[data-action="collapse"]:before {
  content: '-';
}

/* line 47, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 49, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

/* line 60, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

/* line 61, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}

/* line 62, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}

/**
 * Nestable Extras
 */
/* line 71, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.nestable-lists {
  display: block;
  clear: both;
  padding: 30px 0;
  width: 100%;
  border: 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

/* line 73, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
#nestable-menu {
  padding: 0;
  margin: 20px 0;
}

/* line 75, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
#nestable-output,
#nestable2-output {
  width: 100%;
  height: 7em;
  font-size: 0.75em;
  line-height: 1.333333em;
  font-family: Consolas, monospace;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 78, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
#nestable2 .dd-handle {
  color: #fff;
  border: 1px solid #999;
  background: #bbb;
  background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
  background: -moz-linear-gradient(top, #bbb 0%, #999 100%);
  background: linear-gradient(top, #bbb 0%, #999 100%);
}

/* line 86, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
#nestable2 .dd-handle:hover {
  background: #bbb;
}

/* line 87, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
#nestable2 .dd-item > button:before {
  color: #fff;
}

@media only screen and (min-width: 700px) {
  /* line 91, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
  .dd {
    float: none;
    width: auto;
  }

  /* line 92, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
  .dd + .dd {
    margin-left: 2%;
  }
}
/* line 96, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-hover > .dd-handle {
  background: #2ea8e5 !important;
}

/**
* Nestable Draggable Handles
*/
/* line 102, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd3-content {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px 5px 40px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #fafafa;
  background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
  background: linear-gradient(top, #fafafa 0%, #eee 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 111, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd3-content:hover {
  color: #2ea8e5;
  background: #fff;
}

/* line 113, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd-dragel > .dd3-item > .dd3-content {
  margin: 0;
}

/* line 115, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd3-item > button {
  margin-left: 30px;
}

/* line 117, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd3-handle {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
  width: 30px;
  text-indent: 100px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #aaa;
  background: #ddd;
  background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: linear-gradient(top, #ddd 0%, #bbb 100%);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 135, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd3-handle:before {
  content: '≡';
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 100%;
  text-align: center;
  text-indent: 0;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

/* line 136, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd3-handle:hover {
  background: #ddd;
}

/* line 138, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd3-content .links {
  width: auto;
}

/* line 141, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd3-content ul.inline.actions {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

/* line 147, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd3-content ul.inline.actions li a {
  width: 14px;
  height: 16px;
  text-decoration: none;
}

/* line 152, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.dd3-content ul.inline.actions li a:hover {
  text-decoration: none;
}

/* line 156, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
#rails_admin_nestable {
  position: relative;
}

/* line 159, /usr/local/rvm/gems/ruby-2.2.3/gems/rails_admin_nestable-0.3.2/app/assets/stylesheets/rails_admin/rails_admin_nestable.css.scss */
.nestable-flash {
  position: fixed;
  top: 80px;
  width: auto;
  right: 20px;
  display: none;
  min-width: 150px;
}
