.navbar-header.bg-dark
  %button.pull-right.visible-xs.dk{"target" => '.navbar-collapse', "ui-toggle-class" => 'show'}
    %i.fa.fa-gear
  %button.pull-right.visible-xs{"target" => '.app-aside', "ui-toggle-class" => 'off-screen'}
    %i.fa.fa-align-justify
  %a.navbar-brand.text-lt.pjax{href: dashboard_path}
    %i.fa.fa-btc
    %span.hidden-folded.m-l-xs
      = 'Admin'
.collapse.pos-rlt.navbar-collapse.box-shadow.bg-white-only
  .nav.navbar-nav.hidden-xs
    %a.btn.no-shadow.navbar-btn{"ui-toggle-class" => "app-aside-folded", "target" => ".app"}
      %i.fa.fa-dedent.fa-fw.text
      %i.fa.fa-indent.fa-fw.text-active
    - if main_app_root_path = (main_app.root_path rescue false)
      %a.btn.no-shadow.navbar-btn{href: main_app_root_path}
        %i.fa.fa-globe.fa-fw.text
  = render partial: 'layouts/rails_admin/secondary_navigation'
