:javascript
  $('.nav.nav-pills li.active').removeClass('active');
  $('.nav.nav-pills li[data-model="#{@abstract_model.to_param}"]').addClass('active');

%title= "#{@abstract_model.try(:pretty_name) || @page_name} | #{[_get_plugin_name[0] || 'Rails', _get_plugin_name[1] || 'Admin'].join(' ')}"
.bg-light.lter.b-b.wrapper-md
  %h1.m-n.font-thin.h3= @page_name
.wrapper-md
  - flash && flash.each do |key, value|
    .alert.alert-dismissible{class: flash_alert_class(key)}
      %button.close{type: 'button', :'data-dismiss' => "alert"} &times;
      = value
  
  .wrapper.bg-white.b-b
    %ul.nav.nav-pills.nav-sm
      = menu_for((@abstract_model ? (@object.try(:persisted?) ? :member : :collection) : :root), @abstract_model, @object)
      = content_for :contextual_tabs
  .panel.panel-default
    = yield
