<div class="item" id="item-<%=slide.position%>">
    <div class="image" style="background-image:url(<%= slide.picture %>);">

        
        <% unless slide.video == nil  %>
      
                <div class="poster">
                    <img src="<%=  slide.video.poster %>">
                </div>
                <%= video_tag [ slide.video.m4v , slide.video.mp4, slide.video.ogv, slide.video.webm], controls: false, id: 'bgvid', class: 'stopfade', :poster => slide.video.poster  %>

                <button class="video-btn stop" id="vidpause"></button>
                <button class="close-video"><i class="icon-close"></i> </button>
        <% end %>
    </div>
    <div class="info">
        <div class="text">

            <p class="subtitle"><%= slide.page.name %></p>
            <h1><%= slide.name %></h1>
            <%= slide.text.html_safe %>

            <% if slide.form  %>
                <%= render partial: "contacts/short_form", :locals => {:slide => slide} %>
            <% end %>

            <% unless slide.courses.empty?  %>
                <div class="slider-inner">
                    <div class="slider-wrapper">
                        <%= render slide.courses %>
                    </div>
                </div>
            <% end %>


            <% unless slide.services.empty?  %>
                <div class="sm-icon">
                    <%= render slide.services %>
                </div>
            <% end %>

            <% unless slide.clients.empty? %>
                <div class="clients">
                    <%= render slide.clients %>
                </div>
            <% end %>

            <% unless slide.partners.empty?  %>
                <div class="partners">
                    <%= render slide.partners %>
                </div>
            <% end %>

            <% unless slide.people.empty?  %>
                <div class="slider-inner">
                    <div class="slider-wrapper">
                        <%= render slide.people %>
                    </div>
                </div>
            <% end %>

            <% unless slide.testimonials.empty?  %>
                <div class="slider-inner">
                    <div class="slider-wrapper">
                        <%= render slide.testimonials %>
                    </div>
                </div>
            <% end %>

        </div>
    </div>
    </div>
