<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      .colored{
        width: 100%;
        height: 3px;
      }

      .blue{
        background: #00b8e0;
      }
      .red{
        background: #ff0041;
      }
      .yellow{
        background: #ffdd00;
      }
      .green{
        background: #00c1a8;
      }
    </style>
  </head>
  <body style="background:#fbfbfb;">
      <table border="0" cellpadding="0" cellspacing="0" width="600px" style="margin:40px auto;">
        <tr>
          <td style="padding: 100px 0px 20px 0px;">
            <img width="150px" src="http://insightfull.dev-3.com/assets/logo.png">
          </td>
        </tr>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" width="600px" >
              <tr>
                <td width="25%"><div class="colored blue"></div></td>
                <td width="25%"><div class="colored red"></div></td>
                <td width="25%"><div class="colored yellow"></div></td>
                <td width="25%"><div class="colored green"></div></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="background:#fff;padding: 20px 40px;">
            <h1>New message</h1>
            <p>
              Name: <%= @contact.name %>.<br>
            </p>

            <% unless @contact.subject.blank?  %>
              <p>
                Subject: <%= @contact.subject %>.<br>
              </p>
            <% end %>
            <p>
              Email: <%= @contact.email %>.<br>
            </p>
            <% unless @contact.phone.blank?  %>
              <p>
                Phone: <%= @contact.phone %>.<br>
              </p>
            <% end %>
            <% unless @contact.comment.blank?  %>
              <p>
                Comment: <%= @contact.comment %>.<br>
              </p>
            <% end %>
</td> 
        </tr>
        <tr>
          <td style="padding: 0px 0px 100px 0px;"><img src="http://insightfull.dev-3.com/assets/letbg.png"></td>
        </tr>
      </table>
           
  </body>
</html>