<div class="slide">
   
    <div class="table-cells">   
        <div class="table-cell">
            <div class="icon-round" style="background-image:url(<%= person.photo %>);">
            </div>
        </div>
         <div class="table-cell">
             <p class="size16 top30">
                <strong>
                    <%= person.name %>
                </strong>
            </p>
             <div class="text-gray">
                <%= person.description %>
            </div>
         </div>
    </div>
</div>