@mixin font-import($name) {
   @font-face {
      font-family: $name;
      src: url('/assets/' + $name + '.eot');
      src: url('/assets/' + $name + '.eot?#iefix') format('embedded-opentype'),
      url('/assets/' + $name + '.ttf') format('truetype'),
      url('/assets/' + $name + '.woff') format('woff'),
      url('/assets/' + $name + '.svg#helveticaneuecyrroman') format('svg');
      font-weight: normal;
      font-style: normal; 
  }   
}


@mixin nowrap(){

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@mixin icon(){
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin centerIn() {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
