<li
<% if current_page?(page_path(page)) %> class="active" <% end %>
>
    <a href="<%= page_path(page) %>" 
 		<% unless page.slides.empty? || page.slides.size == 1 %>
 		data-open-submenu
 		<% end %>
       
    	>
        <div class="icon">
             <img src="<%= page.icon %>" alt="<%= page.name %>">
        </div>
        <div class="text"><%= page.name %></div>
    </a>
    <% unless page.slides.empty? || page.slides.size == 1 %>
        <ul class="submenu">
        	<%= render partial: "slides/submenu", collection: page.slides, as: :slide %>
        </ul>
    <% end %>
</li>