
<section class="main-page">
    <div class="block">
        <img src="/assets/logo.svg" align="ins" class="logo">
        <div class="text">
            Welcome to Insightful HR Ltd - the home of simple, effective, training solutions, designed to help you achieve your potential.
        </div>
        <a href="/contact-us" class="btn btn-rounded btn-red btn-full">GET IN TOUCH</a>

        <div class="clients">
            <%= render @clients %>
        </div>
        <div class="clients">
            <%= render @partners %>
        </div>

    </div>
</section>