
<% content_for :title, @page.title %>
<% content_for :description, @page.description %>
<% content_for :keywords, @page.keywords %>

<section class="page slider <%= @page.color %>" 
    <% if params[:slide] %>
        data-active-slide="#item-<%=params[:slide]%>"
    <% end %>  
    >

    <% if @page.contact %>
        <div class="item">
            <div class="image" >

                <div class="map" id="map"></div>
            </div>
            <div class="info">
                <div class="text">
                    <p class="subtitle">Contact us</p>
                    <h1>GET IN TOUCH WITH US</h1>
                    <p class="text-gray">
                        If you want further information or want to know if we can help with something that isn't included in
                        our website, please get in touch.
                    </p>

                    <div class="row">
                        <div class="col-sm-6">
                            <p class="text-gray">
                                We are ready for your challenge<br>
                                <a href="mailTo:info@insightfulhr.com"> info@insightfulhr.com</a><br>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <ul class="socials">
                                <%= render  @socials%>
                            </ul>
                        </div>
                        <div class="col-sm-12">
                            <p class="text-gray">
                                Insightful HR, c/o EGS Consult, The Old Rectory, Church Street, Weybridge, Surrey, KT13 8DE England<br>
                            </p>
                        </div>
                    </div>

                    <%= render partial: "contacts/form" %>

                </div>
            </div>
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANUt07vddHtkrW6Er8VcJOF60r7aZSrQs&callback=initMap"
        async defer></script>
    <% else %>
        <%= render @page.slides %>
    <% end %>    
</section>

 

<div class="modal fade <%= @page.color %>" id="thanks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-close"></i></button>
                <h4>Thank you!</h4>
                <p class="top20 size16">Thank you for your email.  We will be in touch shortly and hope to be able to help you with your requirements.</p>
                <button class="btn btn-rounded top20" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>