

<%= form_for :contact, url: contacts_path, :html => {:class => 'top30 contact-form'} do |f| %>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <i class="icon-avatar"></i>
                 <%=f.text_field(:name, class: 'form-control', id: 'name', required: true, placeholder: 'Name ...')%>
            </div>
        </div>
        <div class="col-sm-6">
           <div class="form-group">
                <i class="icon-phone-call"></i>
                    <%=f.telephone_field(:phone, class: 'form-control', id: 'phone', required: true, placeholder: 'Phone ...')%>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <i class="icon-envelope"></i>
                <%=f.email_field(:email, class: 'form-control', id: 'email', required: true, placeholder: 'Email ...')%>
            </div>
        </div>

        <div class="col-sm-12">
            <button type="submit" class="btn btn-rounded btn-border pull-right top20">
                Contact Us!
            </button>
        </div> 
    </div> 
<% end %>
