

<section class="main-page">
    <div class="block">
        <div class="text">
           <h1>Thank you!</h1>
           Thank you for your email.  We will be in touch shortly and hope to be able to help you with your requirements.
        </div>
        <a href="/" class="btn btn-rounded btn-red btn-full">HOME PAGE</a>
    </div>
</section>

  <!-- Google Code for Form Submit Conversion Page -->

<script type="text/javascript">



var google_conversion_id = 874069777;

var google_conversion_language = "en";

var google_conversion_format = "3";

var google_conversion_color = "ffffff";

var google_conversion_label = "iQKjCKnorWoQkf7koAM";

var google_remarketing_only = false;


</script>

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">

</script>

<noscript>

<div style="display:inline;">

<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/874069777/?label=iQKjCKnorWoQkf7koAM&amp;guid=ON&amp;script=0"/>

</div>


</noscript>
<script type="text/javascript">

$(document).ready(function () {
	setTimeout(function(){
		window.location.href = 'http://insightfulhr.com/';
	}, 5000);
});
</script>
