
<section class="main-page">
	<div class="block">
        <div class="text">
        	<p class="page-404">404</p>
        	<h3>The page you were looking for doesn't exist.</h3>
            <p>You may have mistyped the address or the page may have moved.<br>
            	If you are the application owner check the logs for more information.</p>
        </div>
        <a href="/" class="btn btn-rounded btn-red btn-full">Home page</a>
	</div>
</section>
