<div class="app app-header-fixed ">
  

<div class="container w-xxl w-auto-xs" ng-controller="SigninFormController" ng-init="app.settings.container = false;">
  <div class="col-sm-4 col-sm-offset-4 text-center top30">

    <a href class="size16">Admin panel</a>
  </div>
  <div class="col-sm-4 col-sm-offset-4">
    <div class="wrapper text-center">
      <strong>Sign in to get in touch</strong>
      <br>
      <br>
    </div>

    <%= form_for(resource,  as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="list-group list-group-sm">
        <div class="list-group-item">
          <%= f.email_field :email, class:"form-control no-border", placeholder: 'Email', autofocus: true %>
        </div>
        <div class="list-group-item">
          <%= f.password_field :password, class:"form-control no-border", placeholder: 'Password', autocomplete: "off" %>
        </div>
      </div>
      <%= f.submit "Log in", class:"btn btn-lg btn-primary btn-block" %>

     
     
    <% end %>
    <br>
    <br>

    <%= render "devise/shared/links" %>
  </div>
  
</div>


</div>
