
<!-- This demo uses the Chart.js graphing library and Moment.js to do date
     formatting and manipulation. -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<!-- Include the CSS that styles the charts. -->
<link rel="stylesheet" href="/css/chartjs-visualizations.css">
<link rel="stylesheet" href="/css/components/view-selector.css">
<link rel="stylesheet" href="/css/components/active-users.css">
<link rel="stylesheet" href="/css/components/form-field.css">

<div class="row wrapper">
<header>

  <div class="col-sm-8"><h4><div id="view-name"></div></h4></div>
  <div class="col-sm-4"><div id="active-users-container"></div></div>
  <div class="col-sm-12" style="padding-bottom:20px;margin-bottom:20px;border-bottom:1px solid #e8e8e8;margin-top:20px;">
      <div id="view-selector-container"></div>
  </div>
  
</header>

  <div class="col-sm-8">
    <div class="Chartjs">
      <h4>This Week vs Last Week (by sessions)</h4>
      <figure class="Chartjs-figure" id="chart-1-container"></figure>
      <ol class="Chartjs-legend" id="legend-1-container"></ol>
    </div>
    <div class="Chartjs">
      <h4>This Year vs Last Year (by users)</h4>
      <figure class="Chartjs-figure" id="chart-2-container"></figure>
      <ol class="Chartjs-legend" id="legend-2-container"></ol>
    </div>
  </div>
  <div class="col-sm-4">
<div class="Chartjs">
  <h4>Top Browsers (by pageview)</h4>
  <figure class="Chartjs-figure" id="chart-3-container"></figure>
  <ol class="Chartjs-legend" id="legend-3-container"></ol>
</div>
<div class="Chartjs">
  <h4>Top Countries (by sessions)</h4>
  <figure class="Chartjs-figure" id="chart-4-container"></figure>
  <ol class="Chartjs-legend" id="legend-4-container"></ol>
</div>
</div>
<div class="col-sm-8">
  <div id="embed-api-auth-container"></div>
</div>
</div>