<div class="slide">
    <p class="size16 top30">
        <strong>
            <%= course.name %>
        </strong>
    </p>
    <div class="table-cells">   
        <div class="table-cell">
            <div class="icon-round">
                <i class="icon-info"></i>
            </div>
        </div>
         <div class="table-cell">
             <div class="text-gray">
                <%= course.text %>
            </div>
         </div>
    </div>

    <a href="/contact-us" class="btn btn-rounded btn-border pull-right top20">ENQUIRE NOW</a>
</div>