<div class="slide">
    <p class="size16 top30">
        <strong>
            <%= testimonial.name %>
        </strong>
    </p>
   <div class="quete">
        <%= testimonial.description %>
   </div>

   <div class="author"><%= testimonial.author %></div>
</div>