
<header>
    <a href="/" class="logo">
        <img src="/assets/small-logo.svg" alt="das" class="small-icon">
    </a>
    <button class="menu-btn" data-toggle-menu>
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="border-menu blue"></div>
    <div class="border-menu red"></div>
    <div class="border-menu yellow"></div>
    <div class="border-menu green"></div>
</header>

<aside>
    <a href="/" class="logo">
        <img src="/assets/small-logo.svg" alt="das" class="small-icon">
        <img src="/assets/logo.svg" alt="das" class="big-icon">
    </a>
    <ul class="nav nav-stacked pages-menu">
        <%= render  @pages%>
    </ul>

    <div class="share small-icon">
        <i class="icon-share"></i>
    </div>

    <div class="socials-wrapper">
        <ul class="socials">
            <%= render  @socials%>
        </ul>

        <div class="copyrights">
            © Insightful HR  2010 - 2017<br>
            <a target="_blank" href="http://www.dev-3.com/">Development by DEV<sup>3</sup></a>
        </div>
    </div>
    <div class="border-menu blue"></div>
    <div class="border-menu red"></div>
    <div class="border-menu yellow"></div>
    <div class="border-menu green"></div>
</aside>
  