<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title><%= content_for?(:title) ? yield(:title) : "Insightful HR" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Insights" %>">
    <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : "Insights Discovery, Human Resources, HR, Culture Change, Change Management, Performance Management, Talent Management, Training Delivery, Leadership Development, Leadership, Project and Programme Management, Performance Improvement, Job Coaching, Mentoring Of Staff, Team Building, Team Management, Sharnel also knows about..., Performance, Improvement" %>">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js"> </script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77082735-1', 'auto');
    ga('send', 'pageview');

  </script>
  
  
    <%= favicon_link_tag 'favicon.png', :rel => 'shortcut icon' %>
</head>
<body>
<body class="main">

 <%= render partial: "layouts/aside", :locals => {:pages => @pages} %>

<%= yield %>

</body>
</html>
